<%- include('templates/header') %>

<div style="display: grid; place-items: center;">
    <h2 style="margin: 4vw;">Reset password</h2>
    <form action='/changePassword' method='post' style="width: auto;">
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label" name="email" value="<%= user %>"><%= user %></label>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class=" col-form-label" >New password</label>
            <input type="password" class="form-control" id="inputEmail3" name='password' required=true>
        </div>
        <div style="display: grid; place-items: center;">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </form><br>

    <p style="text-align: center;">Would you like to login instead? <a href='/login'>Login</a></p><br>
</div>

<%- include('templates/footer') %>