<%- include('templates/header') %>

<%- include('templates/navbar', {navLinks: navLinks}) %>

<h3 style="text-align: center; margin: 2vw;">Welcome <%= username%>!</h3>

<%- include('templates/footer') %>