body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    overflow: scroll;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#message {
    font-size: 24px;
    margin-bottom: 10px;
}

#mistakes {
    margin-top: 3vh;
    font-size: 24px;
    margin-bottom: 10px;
}

.items {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 5px;
    cursor: grab;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    position: relative;
}

.item:active {
    transform: scale(1.1);
}

.bins {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: auto;
    width: 100vw;
}

.bin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bin {
    background-color: #fff;
    border: 2px solid black;
    padding: 40px 20px;
    margin: 0 10px;
    width: 15vw;
    max-width: 150px;
    height: 25vh;
    text-align: center;
    border-radius: 8px;
    border-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    position: relative;
    z-index: 1;
}

.bin:hover {
    background-color: #f9f9f9;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.bin-name {
    color: whitesmoke;
    /* margin: 20px; */
}

.lid {
    width: 100%;
    height: 30px;
    border: 2px solid black;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
}

#handle {
    background-color: grey;
    width: 50px;
    height: 20px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-color: 2px solid grey;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

#inHandle {
    background-color: white;
    color: white;
    width: 30px;
    height: 5px;
    font-size: 0px;
}

.sad {
    color: #f00;
}

.correct {
    color: green;
}

.incorrect {
    color: #ee2400;
}

@media (max-width: 1000px) {
    .bins {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        justify-items: center;
    }

    .bin {
        height: 10vh;
    }
}