<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Binary</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <% for(let i = 0; i < navLinks.length; i++){%>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="<%= navLinks[i].link%>"><%= navLinks[i].name%></a> 
            </li>
          <% } %>
          <!-- to logout-->
          <li class="nav-item">
            <form action="/logout" method="post">
              <button class="nav-link btn-outline-danger" aria-current="page" style="color: rgb(226, 81, 81);">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <!-- Links to the main page -->
    <!-- <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a> 
    </li> -->
    <!-- Links to the maps to find the recycle centers -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Recycle Centers</a>
    </li> -->
    <!-- tutorial to learn how to start recycling -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Scan</a>
    </li> -->
    <!-- tutorial to learn how to start recycling -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Tutorial</a>
    </li> -->
    <!-- to see user profile picture -->
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li> -->